* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

/* Navbar Section */

.navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    font-size: 4vh;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid gray;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.nav-left {
    margin-left: 4vw;
}

.nav-right {
    margin-right: 4vw;
    display: flex;
    gap: 3vw;
}

/* Hero Section */

.hero {
    width: 100%;
    height: 90vh;
    display: flex;
    border-bottom: 2px solid black;
}

.hero-left {
    height: 100%;
    width: 50%;
}

.hero-right {
    height: 100%;
    width: 50%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-right img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    clip-path: polygon(50% 0%, 50% 35%, 100% 35%, 100% 70%, 50% 70%, 50% 100%, 50% 70%, 0% 70%, 0% 35%, 50% 35%);
    transition: clip-path 1s;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    z-index: 10;

}

.hero-right img:hover {
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
    border: 2px solid black;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3vh;
}

.hero-left h2 {
    font-size: 7vh;
    width: 80%;
}

.hero-left h5 {
    font-size: 5vh;
    width: 80%;
}

.hero-left p {
    font-size: 5vh;
    width: 80%;
}

.hero-left .icon-box {
    margin-top: 5vh;
    display: flex;
    gap: 5vw;
    font-size: 4vh;
}

.linkedin {
    color: #000000;
    border: #010101;
}

.linkedin:hover {
    color: #0A66C2;
    border: #0A66C2;
    transform: scale(1.2);
}

.github {
    color: #000000;
    border: #010101;
}

.github:hover {
    color: #6c6c6c;
    border: #6e6e6e;
    transform: scale(1.2);
}

.gmail {
    color: #000000;
    border: #010101;
}

.gmail:hover {
    color: #f2a60c;
    border: #f2a60c;
    transform: scale(1.2);
}

/* About Section */

.about {
    margin: 10vh 0;
    width: 100%;
    height: 80vh;
    /* border-bottom: 2px solid black; */
    display: flex;
}

.about-left {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-left .about-card {
    font-weight: bold;
    padding: 1em;
    text-align: right;
    color: #181a1a;

    width: 400px;
    height: 600px;
    box-shadow: 0 1px 5px #00000099;

    border-radius: 10px;
    background-image: url(./images/p5.jpeg);
    background-size: cover;

    position: relative;

    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
    transform: rotate3d(0);
}

.about-card:hover {
    transition-duration: 150ms;
    box-shadow: 0 5px 20px 5px #00000044;
}

.about-card .glow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
}

.about-right {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

.about-right h2 {
    font-size: 10vh;

}

.about-right p {
    width: 50vw;
    font-size: 2.5vh;
}


/* Skills Section */

.skills {
    width: 100%;
    height: 100vh;
    position: relative;
    border-top: 2px solid black;
}

.skills h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35vh;
    letter-spacing: 10px;
}

.skills .top {
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 0%;
    overflow: hidden;
    background-color: white;
}

.top h1 {
    bottom: 50%;
}

.skills .bottom {
    width: 100%;
    height: 50vh;
    position: absolute;
    bottom: 0%;
    overflow: hidden;
    background-color: white;
}

.bottom h1 {
    top: -9%;
}


.skills .center {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    z-index: 2;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 10;
    color: white;
}

.content-left {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    justify-content: center;
    padding-left: 8vw;
    padding-top: 6vh;
}

.content-left h2 {
    font-size: 10vh;
    margin-top: -10vh;
}

.skill h3 {
    font-size: 5vh;
}

.skill li {
    margin-top: 1vh;
    margin-left: 3vw;
    list-style-type: square;
    font-size: 2vh;
}

.content-left .skills-icon {
    margin-top: 3vh;
    margin-left: 8vw;
    font-size: 4vh;
}

.pinterest,
.canva {
    color: #fff;
    margin-left: 2vw;
}

.pinterest:hover {
    color: #c8232c;
}

.canva:hover {
    color: #20c4cb;
}

.content-right {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper {
    width: 450px;
    height: 450px;
    overflow: hidden;
    z-index: -1;
    border-radius: 30px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide .box {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    text-align: center;
}

.box a {
    font-size: 4vw;
}

.cube{
    color: white;
}

.cube:hover {
    color: #5a5a5a;
    border: #757575;
    transform: scale(1.2);
}

.box{
    background-position: center;
    background-size: cover;
    color: white !important;
    border-radius: 2px;
}

.box1 {
    background-color: #FEFF86;
    background-image: url(./images/c1.avif);
    border: 3px solid yellow;
    font-size: 4.5vw;
}

.box2 {
    background-color: #B0DAFF;
    background-image: url(./images/c2.avif);
    border: 3px solid rgb(255, 65, 236);
    font-size: 4vw;
    flex-direction: column;
    /* padding-top: 2wh; */
    gap: 8vh;
}

.box3 {
    background-color: #B9E9FC;
    background-image: url(./images/c5.avif);
    border: 3px solid rgb(255, 124, 43);
    font-size: 3vw;
    flex-direction: column;
    gap: 8vh;
}

.box4 {
    background-color: #DAF5FF;
    background-image: url(./images/c4.avif);
    border: 3px solid rgb(46, 28, 248);
    font-size: 3vw;
    flex-direction: column;
    gap: 8vh;
}


.swiper-slide img {
    width: 100%;
}

/* Projects Section */

.projects {
    width: 100%;
    height: 390vh;
}

.proj-img {
    width: 100%;
    height: 50vh;
    background-image: url(./images/bg1.avif);
    background-position: center;
    z-index: 10;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proj-img div {
    color: transparent;
    font-size: 30vh;
    letter-spacing: 2vh;
    -webkit-text-stroke: 3px white;
}

.proj {
    width: 100%;
    height: 80vh;
    display: flex;
    /* background-color: #0A66C2; */
}


.proj-left {
    width: 25%;
    height: 100%;
    padding: 0 70px;
    padding-top: 15vh;
    /* background-color: palevioletred; */
}

.proj-left h1 {
    font-size: 10vh;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.proj-left p {
    font-size: 3vh;
    width: 90%;
    margin-bottom: 40px;
}

.proj-left button {
    padding: 18px 45px;
    font-size: 17px;
    font-weight: 800;
    border: 0;
    background-color: black;
    color: white;
    text-transform: uppercase;
    border-radius: 30px;
    border-top-left-radius: 0;
}

.proj-left button a{
    text-decoration: none;
    color: white;
}

.proj-right {
    height: 100%;
    width: 75%;
    position: relative;
    padding: 120px;
    gap: 30px;
    white-space: nowrap;
    overflow-x: auto;
}

.proj-right::-webkit-scrollbar {
    display: none;
}

.elem {
    background-color: #ffffff;
    height: 50vh;
    width: 40vw;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, .2);
    display: inline-block;
    margin-right: 30px;
    cursor: e-resize;
}

.elem img {
    height: 100%;
    width: 100%;
    top: 0%;
    position: absolute;
    object-fit: cover;
}

.elem h5 {
    position: absolute;
    bottom: 2%;
    left: 2%;
    background: #000000;
    color: white;
    padding: 17px 34px;
    border-radius: 6px;
    font-size: 12px;
    border: 2px solid #D0D4D5;
}

.pi2 {
    background-image: url(./images/bg2.avif);
    background-position: center;
}

.pi2 div {
    font-size: 25vh;
    /* -webkit-text-stroke-color: black; */
}

.pi3 {
    background-image: url(./images/bg8.avif);
}


/* Contact Section */

.contact {
    height: 80vh;
    width: 100%;
    display: flex;
}

.contact-left {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-left img {
    object-fit: cover;
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
    transition: clip-path 1s;
}

.contact-left img:hover {
    clip-path: polygon(10% 10%, 90% 10%, 90% 90%, 10% 90%);
}

.contact-right {
    display: flex;
    flex-direction: column;
    position: relative;
}

.contact-right p {
    position: absolute;
    color: red;
    font-size: 1rem;
    left: 43%;
}


.contact-right h1 {
    font-size: 4vw;
    margin-left: 16vw;
    margin-top: 3vh;
}

.contact-right h3 {
    font-size: 2vw;
    margin-left: 7vw;
    margin-top: 2vh;
    margin-bottom: 4vh;
}

.contact-right form {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-left: 6vw;
}

.contact-right form input {
    height: 5vh;
    width: 30vw;
    border: 0;
    border-radius: 2rem;
    text-align: center;
    border: 2px solid #000000;
}

textarea {
    width: 30vw;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 2rem;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    text-align: center;
}

.sbt {
    width: 15vw !important;
    margin-top: 2vh;
}

/* Footer Section*/

footer {
    height: 20vh;
    width: 100%;
    background-color: rgb(32, 32, 31);
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    font-size: 6vh;
    padding-top: 5vh;
}

.icon {
    border: 1px solid #ffffff88;
    padding: 17px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    text-decoration: none;
}

#gmail {
    color: #30A952;
    border: 1px solid #30A952;
}

#gmail:hover {
    background-color: #30A952;
    color: #fff;
}

#linkedin {
    color: #0A66C2;
    border: 1px solid #0A66C2;
}

#linkedin:hover {
    background-color: #0A66C2;
    color: #fff;
}

#instagram {
    color: #cb2770;
    border: 1px solid #cb2770;
}

#instagram:hover {
    background-color: #cb2770;
    color: #fff;
}

#github {
    color: #e8eaea;
    border: 1px solid #e8eaea;
}

#github:hover {
    background-color: #e8eaea;
    color: black;
}

#telegram {
    color: #0088cc;
    border: 1px solid #0088cc;
}

#telegram:hover {
    background-color: white;
    color: #0088cc;
}

#pinterest {
    color: #c8232c;
    border: 1px solid #c8232c;
}

#pinterest:hover {
    background-color: white;
    color: #c8232c;
}

#canva {
    color: #20c4cb;
    border: 1px solid #20c4cb;
}

#canva:hover {
    background-color: white;
    color: #20c4cb;
}


/* Media Queries */

@media (max-width :1200px) {
    .proj-img div {
        font-size: 24vh;
        letter-spacing: 2vh;
    }

    .pi2 div {
        font-size: 19vh;
    }


    .skills h1 {
        font-size: 30vh;
    }
}

@media (max-width :1000px) {
    .proj-img div {
        font-size: 16vh;
        letter-spacing: 2vh;
    }

    .pi2 div {
        font-size: 15vh;
    }

    .contact-right p {
        font-size: 6rem;
        left: 18%;
        top: 14%;
    }

    .proj-left {
        width: 50%;
        padding: 0 40px;
        padding-top: 15vh;
    }

    .proj-left h1 {
        font-size: 10vh;
        margin-bottom: 50px;
    }

    .proj-left p {
        font-size: 4vh;
        width: 30vw;
        margin-bottom: 50px;
    }

    .proj-left button {
        padding: 18px 45px;
        font-size: 18px;
        border-radius: 25px;
        border-top-left-radius: 0;
    }

}

@media (max-width : 800px) {
    .navbar {
        font-size: 3vh;
    }

    .hero {
        height: 70vh;
        margin: -2vh 0;
    }

    .hero-left h2 {
        font-size: 5vh;
    }

    .hero-left h5 {
        font-size: 3vh;
    }

    .hero-left p {
        font-size: 3vh;
    }

    .hero-left .icon-box {
        font-size: 3vh;
    }

    .hero-right img {
        width: 350px;
    }

    .about {
        height: 70vh;
        margin-bottom: -8vh;
    }

    .about-left {
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }



    .about-right {
        height: 80%;
    }

    .about-right h2 {
        font-size: 6vh;
    }

    .about-right p {
        width: 50vw;
        font-size: 1.5vh;
    }

    .skills {
        width: 100%;
        height: 100vh;
    }

    .skills h1 {
        font-size: 23vh;
    }

    .top h1 {
        top: 72.9392%;
    }

    .bottom h1 {
        top: .5%;
    }

    .content-left h2 {
        font-size: 8vh;
        margin-top: -10vh;
    }

    .skill h3 {
        font-size: 3vh;
    }

    .skill li {
        font-size: 1.5vh;
    }

    .content-left .skills-icon {
        margin-left: 3vw;
        font-size: 3vh;
    }

    .swiper {
        width: 300px;
        height: 300px;
        overflow: hidden;
        z-index: -1;
        margin-right: 10vw;
    }

    .box a {
        font-size: 3vw;
    }

    .box1 {
        font-size: 3vw;
    }

    .box2 {
        font-size: 3vw;
        gap: 8vh;
    }

    .box3 {
        font-size: 2vw;
        gap: 8vh;
    }

    .box4 {
        font-size: 2vw;
        gap: 8vh;
    }

    .proj-img div {
        font-size: 12vh;
        letter-spacing: 1vh;
    }

    .proj-left {
        padding: 0 10px;
        padding-top: 15vh;
    }

    .proj-left h1 {
        font-size: 7vh;
        margin-bottom: 50px;
    }

    .proj-left p {
        font-size: 3vh;
        width: 25vw;
        margin-bottom: 50px;
    }

    .proj-left button {
        padding: 18px 45px;
        font-size: 13px;
        border-radius: 25px;
        border-top-left-radius: 0;
    }

    .elem {
        height: 45vh;
        width: 55vw;
        border-radius: 0px;
    }

    .elem h5 {
        bottom: 3%;
        left: 3%;
        font-size: 12px;
    }

    .contact-left img {
        width: 380px;
    }


    .contact-right p {
        font-size: 5rem;
        left: 14%;
        top: 25%;
    }


    .contact-right h1 {
        font-size: 5vw;
        margin-left: 20vw;
    }

    .contact-right h3 {
        font-size: 3vw;
        text-align: center;
    }

    textarea {
        font-size: 16px;
    }

    .sbt {
        width: 25vw !important;
    }

    .footer-icons {
        gap: 4vw;
        font-size: 4vh;
    }

}

@media (max-width : 500px) {

    .navbar {
        font-size: 2.5vh;
    }

    .hero {
        height: 70vh;
        margin: 2vh 0;
        margin-bottom: 4vh;
        flex-direction: column;
        align-items: center;
    }

    .hero-left {
        width: 100%;
    }

    .hero-left h2 {
        font-size: 5vh;
    }

    .hero-left h5 {
        font-size: 3vh;
    }

    .hero-left p {
        font-size: 3vh;
    }

    .hero-left .icon-box {
        font-size: 3vh;
    }

    .hero-right img {
        margin-top: -5vh;
        width: 350px;
    }

    .about {
        margin-bottom: -8vh;
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    }

    .about-left {
        height: 40%;
        margin-top: -8vh;
    }

    .about-right {
        margin-top: -5vh;
        height: 60%;
        width: 100%;
    }

    .about-right h2 {
        font-size: 5vh;
        margin-bottom: -4vh;
    }

    .about-right p {
        width: 80%;
        font-size: 1.25vh;
    }

    .proj-img {
        height: 30vh;
    }

    .proj-img div {
        font-size: 9vh;
    }

    .pi2 div {
        font-size: 7vh;
    }

    .skills h1 {
        font-size: 13vh;
    }

    .top h1 {
        top: 84.9377%;
    }

    .bottom h1 {
        top: .5%;
    }

    .content-left h2 {
        font-size: 8vh;
        /* margin-top: -10vh; */
    }


    .skill h3 {
        font-size: 3vh;
    }

    .skill li {
        font-size: 1.5vh;
    }

    .content-left .skills-icon {
        margin-left: 2vw;
        font-size: 3vh;
    }

    .swiper {
        width: 200px;
        height: 200px;
        overflow: hidden;
        z-index: -1;
        margin-right: 2vw;
    }

    .box a {
        font-size: 4vw;
    }

    .box1 {
        font-size: 3vw;
    }

    .box2 {
        font-size: 3vw;
        gap: 6vh;
    }

    .box3 {
        font-size: 2vw;
        gap: 6vh;
    }

    .box4 {
        font-size: 2vw;
        gap: 6vh;
    }

    .proj-left {
        padding: 0 30px;
        padding-top: 15vh;
        width: 30%;
    }

    .proj-left h1 {
        font-size: 5vh;
        margin-bottom: 30px;
    }

    .proj-left p {
        font-size: 3vh;
        width: 20vw;
        margin-bottom: 20px;
    }

    .proj-left button {
        padding: 12px 35px;
        font-size: 10px;
        border-radius: 25px;
        border-top-left-radius: 0;
    }

    .elem {
        height: 45vh;
        width: 65vw;
        border-radius: 0px;
        margin-right: 40px;
    }

    .elem h5 {
        bottom: 3%;
        left: 3%;
        font-size: 12px;
    }

    .contact {
        margin-top: -70vh;
    }

    .contact-left img {
        width: 300px;
    }

    .contact-right {
        margin-left: 10vw;
    }

    .contact-right h1 {
        margin-top: 12vh;
        font-size: 4vw;
        margin-left: 20vw;
    }

    .contact-right h3 {
        font-size: 2vw;
        text-align: center;
    }

    .contact-right form input {
        height: 5vh;
        width: 30vw;
        font-size: 14px;
    }

    textarea {
        font-size: 14px;
    }

    .sbt {
        width: 20vw !important;
    }

    .contact-right p {
        font-size: 2.5rem;
        left: 18%;
        top: 37%;
    }

    .footer-icons {
        gap: 4vw;
        font-size: 1.5vh;
    }
}